.banner {
  width: 100%;
  height: calc(100vw/(1920/429));
  background-image: url('../../../assets/about_banner.png');
  background-size: contain;
  background-repeat: no-repeat;
}

.content {
  padding: 5rem
    /* 80/16 */
    0 3.125rem
    /* 50/16 */
    /* 53/16 */
    0;
}

.title {
  // font-family: 'SourceHanSansCN-Blod';
  font-size: 2.25rem;
  color: #f36609;
  // margin-bottom: 3rem;
  line-height: 1;
  text-align: center;
  margin: 2rem 0;
}

.subTitle:extend(.title) {
  font-size: 1.75rem;
  font-weight: 700;
}

.text {
  color: #221815;
  font-size: 1.25rem;
  font-weight: 100;
  height: 100%;
  border-bottom: 1px solid #f36609;

  p {
    height: 100%;
    margin: 0;
  }
}

.textNoBorder:extend(.text) {
  border-bottom: none;
  margin-bottom: 2rem;
  // text-align: center;

  img {
    width: 100%;
  }
}

.textNoBorderCenter:extend(.textNoBorder) {
  text-align: center;
}

.feature1 {
  border: 1px solid #f36609;
  border-radius: 999em;
  padding: 0 .8rem;
  height: 100%;
  margin: .5rem;
}

.featureTitle {
  text-align: center;
  padding: 0;
  margin: 4rem 0;
  /* 30/16 */
  ;

  h2 {
    font-size: 1.875rem
      /* 30/16 */
    ;
    font-weight: bold;
    color: #fff;
    background-color: #f36609;
    padding: 1rem 0;
    border-radius: 1rem;
    width: 60%;
    margin: 0 auto;
  }
}

.featureTitleNoColor:extend(.featureTitle) {
  margin: 0 0 5rem 0;

  h2 {
    font-size: 1.875rem
      /* 30/16 */
    ;
    // font-weight: bold;
    color: #f36609;
    background-color: #fff;
    padding: .5rem 0;
    border-radius: 0;
    border: 1px solid #f36609;
  }

  p {
    text-align: left;
    color: #221815;
    font-size: 1.25rem;
    font-weight: 100;
    margin-top: 1rem;
  }
}

.featureText:extend(.text) {
  border-bottom: none;
  text-align: center;
  height: auto;
  margin: 0 2rem 2rem 2rem;
}

.aboutSupplyImg {
  margin-bottom: 2rem;
}

.aboutQuality1,
.aboutQuality2,
.aboutQuality3 {
  height: 100%;
  text-align: center;
  margin: 0;
  background-color: #eee;
  padding: 1rem;

  img {
    width: 100%;
  }

  p {
    color: #221815;
    font-size: 1.25rem;
    font-weight: 100;
    margin-top: 2rem;
    text-align: left;
  }
}

.aboutQuality1 {
  margin-right: 2rem;
}

.aboutQuality2 {
  margin-left: 1rem;
  margin-right: 1rem;
}

.aboutQuality3 {
  margin-left: 2rem;
}

.aboutQualityText {
  font-size: 1.25rem
    /* 30/16 */
  ;
  color: #f36609;
  background-color: #fff;
  padding: .5rem 0;
  border-radius: 999em;
  border: 1px solid #f36609;
  text-align: center;
  margin: 0 0 3rem 0;
}
